<canvas class="webgl"></canvas>
<div class="cardHolder">
  <div class="in1">
    <img src="assets/caduceus-logo-vector-health-care-hospital_516670-132.avif" alt="">
  <h1>An online Healthcare App</h1></div>
  <div class="in2">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>With this web-application, we aim to provide a service that cant be put a price on. With the integration of the
      ostensible appeal, in aspect both visual and function, of a javascript framework(in this case Angular) and a most
      compact Python backend framework, Flask, we have been able to produce this Web-Application, that is capable of
      classifying varioous types of brain tumours with ease.</p>
  </div>
</div>
