*{
  z-index: 100;
  box-sizing: border-box;
  overflow: hidden;
}
.toolBar{
  position: fixed;
}
.sidenavCont {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenavListLinks {
  padding: 20px;
  text-align: center;
}

.sidenavContent {
  display: flex;
  height: 100%;
  justify-content: center;
}
